<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ניהול מלאי</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let inventory of inventories">
      <ion-item>
        <ion-label> 
          <div class="column">
          <h5>שם הפריט: {{inventory.itemName}}</h5>
          </div>
          <div class="column">
          <h5>כמות: {{inventory.amount}}</h5>
          </div>
           <div class="column">
           <h5>עלות: {{inventory.total}}</h5>
          </div>
          </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option (click)="removeItem(inventory)"><ion-icon name="close-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button id='addNewItemList' (click)="addNewItem()"><ion-icon name="add-circle-outline"></ion-icon>הוסף פריט</ion-button>
  <h3>הסכום הנדרש לסחורה זו הינו: {{sum}}</h3>
</ion-content>
