<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ניהול מלאי</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let inventory of inventories">
        <ion-label> {{inventory.itemName}} {{inventory.amount}} {{inventory.total}}שקלים</ion-label>
    </ion-item>
  </ion-list>
  <ion-button id='addNewItemList' (click)="addNewItem()">הוסף פריט</ion-button>
  <ion-button id='okBut'>אשר</ion-button>
</ion-content>
