<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ניהול עובדים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button id='shiftManagment' expand="block" [routerLink]="['/shift-managment']">ניהול משמרת</ion-button>
    <ion-list>
      <ion-item *ngFor="let worker of workers">
        <ion-avatar slot = "start">
          <ion-img [src]="worker.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label>
          שם: {{ worker.name }} עובד: {{ worker.type }}
          <ion-buttons slot="primary">
            <ion-button>
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button id='addWorkerList'>הוספת עובד</ion-button>
  </div>
</ion-content>
