#m1,#m2,#m3,#m4,#m5,#m6,#m7,#m8,#m9,#m10,#m11,#m12,#m13,#m14,#m15,#m16,#m17,#m18,#m19,#m20,#m21,#m22,#m23,#m24,#m25{
    width: 50px;
    height: 50px;
    margin: 7px;
    display: inline-block;
}

#tables{
    margin-top: 40px;
    width: 100%;
    padding: 20px;
  }

#headers{
    border-bottom: 3px solid #bbb;
}
h3{
    padding-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style:italic;
}

