<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>מלצר</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tables">
    <h3>בחר מס שולחן:</h3>
    <ion-button id='1'  expand="block" [routerLink]="['/order-waiter']">1</ion-button>
    <ion-button id='2'  expand="block" [routerLink]="['/order-waiter']">2</ion-button>
    <ion-button id='3'  expand="block" [routerLink]="['/order-waiter']">3</ion-button>
    <ion-button id='4'  expand="block" [routerLink]="['/order-waiter']">4</ion-button>
    <ion-button id='5'  expand="block" [routerLink]="['/order-waiter']">5</ion-button>
    <ion-button id='6'  expand="block" [routerLink]="['/order-waiter']">6</ion-button>
    <ion-button id='7'  expand="block" [routerLink]="['/order-waiter']">7</ion-button>
    <ion-button id='8'  expand="block" [routerLink]="['/order-waiter']">8</ion-button>
    <ion-button id='9'  expand="block" [routerLink]="['/order-waiter']">9</ion-button>
    <ion-button id='10'  expand="block" [routerLink]="['/order-waiter']">10</ion-button>
    <ion-button id='11'  expand="block" [routerLink]="['/order-waiter']">11</ion-button>
    <ion-button id='12'  expand="block" [routerLink]="['/order-waiter']">12</ion-button>
    <ion-button id='13'  expand="block" [routerLink]="['/order-waiter']">13</ion-button>
    <ion-button id='14'  expand="block" [routerLink]="['/order-waiter']">14</ion-button>
    <ion-button id='15'  expand="block" [routerLink]="['/order-waiter']">15</ion-button>
    <ion-button id='16'  expand="block" [routerLink]="['/order-waiter']">16</ion-button>
    <ion-button id='17'  expand="block" [routerLink]="['/order-waiter']">17</ion-button>
    <ion-button id='18'  expand="block" [routerLink]="['/order-waiter']">18</ion-button>
    <ion-button id='19'  expand="block" [routerLink]="['/order-waiter']">19</ion-button>
    <ion-button id='20'  expand="block" [routerLink]="['/order-waiter']">20</ion-button>
    <ion-button id='21'  expand="block" [routerLink]="['/order-waiter']">21</ion-button>
    <ion-button id='22'  expand="block" [routerLink]="['/order-waiter']">22</ion-button>
    <ion-button id='23'  expand="block" [routerLink]="['/order-waiter']">23</ion-button>
    <ion-button id='24'  expand="block" [routerLink]="['/order-waiter']">24</ion-button>
  </div>
</ion-content>
