<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>מלצר</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tables">
    <h3>בחר מס שולחן:</h3>
    <ion-button id='1'  (click)="SelectClicked(1)">1</ion-button>
    <ion-button id='2'  (click)="SelectClicked(2)">2</ion-button>
    <ion-button id='3'  (click)="SelectClicked(3)">3</ion-button>
    <ion-button id='4'  (click)="SelectClicked(4)">4</ion-button>
    <ion-button id='5'  (click)="SelectClicked(5)">5</ion-button>
    <ion-button id='6'  (click)="SelectClicked(6)">6</ion-button>
    <ion-button id='7'  (click)="SelectClicked(7)">7</ion-button>
    <ion-button id='8'  (click)="SelectClicked(8)">8</ion-button>
    <ion-button id='9'  (click)="SelectClicked(9)">9</ion-button>
    <ion-button id='10' (click)="SelectClicked(10)">10</ion-button>
    <ion-button id='11' (click)="SelectClicked(11)">11</ion-button>
    <ion-button id='12' (click)="SelectClicked(12)">12</ion-button>
    <ion-button id='13' (click)="SelectClicked(13)">13</ion-button>
    <ion-button id='14' (click)="SelectClicked(14)">14</ion-button>
    <ion-button id='15' (click)="SelectClicked(15)">15</ion-button>
    <ion-button id='16' (click)="SelectClicked(16)">16</ion-button>
    <ion-button id='17' (click)="SelectClicked(17)">17</ion-button>
    <ion-button id='18' (click)="SelectClicked(18)">18</ion-button>
    <ion-button id='19' (click)="SelectClicked(19)">19</ion-button>
    <ion-button id='20' (click)="SelectClicked(20)">20</ion-button>
    <ion-button id='21' (click)="SelectClicked(21)">21</ion-button>
    <ion-button id='22' (click)="SelectClicked(22)">22</ion-button>
    <ion-button id='23' (click)="SelectClicked(23)">23</ion-button>
    <ion-button id='24' (click)="SelectClicked(24)">24</ion-button>
  </div>
</ion-content>
