#tables{
    margin-top: 40px;
    width: 100%;
    padding: 20px;
  }

#headers{
    border-bottom: 3px solid #bbb;
}

.isTaken{
   color: red;
}

.isNotTaken{
    color: green;
}
h3{
    padding-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-style:italic;
}

