<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>הזמנת שולחן # {{tableNum}}<ion-button id='remove'(click)='removeTable()'>סגור שולחן</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = 'wrapper'>
  <ion-button class = 'but' (click)='printMenu(appetizers)'>מנות ראשונות</ion-button>
  <ion-button class = 'but' (click)='printMenu(soupd)'>מרקים</ion-button>
  <ion-button class = 'but' (click)='printMenu(stuffed)'>ממולאים</ion-button>
  <ion-button class = 'but' (click)='printMenu(mainMeal)'>מנות עיקריות</ion-button>
  <ion-button class = 'but' (click)='printMenu(drinks)'>משקאות</ion-button>
  <ion-button class = 'but' (click)='printMenu(desserts)'>קינוחים</ion-button>
  </div>
  <div id='menu' ></div>
  <div class = 'ends'>
    <ion-button id='sum'(click)='printOrder()'>פרטי ההזמנה</ion-button>
    <ion-button id='submit'(click)='submitOrder()'>שלח הזמנה</ion-button>
  </div>
</ion-content>