<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ניהול כספים</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id='budgetManBut' expand="block" [routerLink]="['/budget-managment']">ניהול תקציב</ion-button>
  <ion-button id='cashFlowBut' expand="block" [routerLink]="['/cash-flow']">תזרים מזומנים</ion-button>
  <ion-button id='expensesBut' expand="block" [routerLink]="['/expenses']">הוצאות</ion-button>
  <ion-button id='salesReportBut' expand="block" [routerLink]="['/sales-report']">דוח מכירות</ion-button>
</ion-content>
